@use "../../breakpoints";

$background-box-modal: #ffffff;
$background-btn-delete: -webkit-linear-gradient(left, #ff0404, #e6122a);
$background-btn-cancel: -webkit-linear-gradient(left, #ffffff, #ffffff);
$background-header: -webkit-linear-gradient(left, #7695ec, #6b59d5);

.background-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-remove-container {
  text-align: center;
  height: 25vh;
  width: 30vw;
  position: fixed;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: $background-box-modal;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4),
    1px 1px 10px 2px rgba(0, 0, 0, 0.4);
  @include breakpoints.xs {
    height: 15vh;
    width: 80vw;
  }
  @include breakpoints.sm {
    height: 15vh;
    width: 70vw;
  }
  @include breakpoints.md {
    height: 15vh;
    width: 60vw;
  }
  @include breakpoints.lg {
    height: 15vh;
    width: 60vw;
  }
  @include breakpoints.xl {
    height: 15vh;
    width: 40vw;
  }
  .modal-title {
    font-size: 1rem;
    word-wrap: break-word;
    padding: 1rem;
    text-shadow: #000 0.1em 0.1em 0.1em;
    @include breakpoints.xs {
      font-size: 1rem;
    }
    @include breakpoints.sm {
      font-size: 1.1rem;
    }
    @include breakpoints.md {
      font-size: 1.2rem;
    }
    @include breakpoints.lg {
      font-size: 1.3rem;
    }
    @include breakpoints.xl {
      font-size: 1.4rem;
    }
  }
  .header-delete-modal {
    width: 100%;
    display: flex;
    color: #fff;
    background: $background-header;
    justify-content: center;
    border-radius: 16px 16px 0 0;
    align-items: center;
    flex-direction: row;
    word-wrap: break-word;
  }
  .container-btn {
    margin: 0.7rem;
    align-self: center;
    padding: 0.8rem;
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

    .delete-btn {
      letter-spacing: 0.08rem;
      text-shadow: #ff0404 0.01em 0.1em 0.1em;
      background: $background-btn-delete;
      height: 4vh;
      width: 6vw;
      font-size: 1.5rem;
      border-radius: 8px;
      font-weight: 700;
      color: #fff;
      border: 1px solid #000;
      @include breakpoints.xs {
        height: 3vh;
        width: 20vw;
        font-size: 0.8rem;
      }
      @include breakpoints.sm {
        height: 3vh;
        width: 15vw;
        font-size: 0.9rem;
      }
      @include breakpoints.md {
        height: 3vh;
        width: 12vw;
        font-size: 0.9rem;
      }
      @include breakpoints.lg {
        height: 3vh;
        width: 12vw;
      }
      @include breakpoints.xl {
        height: 3vh;
        width: 8vw;
      }
      &:hover {
        cursor: pointer;
        filter: brightness(1.1);
      }
      &:active {
        background: #20387b;
      }
    }
    .cancel-btn {
      background: #fff;
      letter-spacing: 0.08rem;
      border: 3px solid #000;
      height: 4vh;
      width: 6vw;
      font-size: 1rem;
      border-radius: 8px;
      font-weight: 700;
      color: #000;
      @include breakpoints.xs {
        height: 3vh;
        width: 20vw;
        font-size: 0.8rem;
      }
      @include breakpoints.sm {
        height: 3vh;
        width: 15vw;
        font-size: 0.9rem;
      }
      @include breakpoints.md {
        height: 3vh;
        width: 12vw;
        font-size: 0.9rem;
      }
      @include breakpoints.lg {
        height: 3vh;
        width: 12vw;
      }
      @include breakpoints.xl {
        height: 3vh;
        width: 8vw;
      }
      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
        background: #ddd;
      }
      &:active {
        background: #ddd;
      }
    }
  }
}
