.background-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-edit-container {
  height: 55vh;
  width: 30vw;
  position: relative;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: -webkit-linear-gradient(left, #fff, #fff);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}
.modal-edit-container .label-box {
  text-shadow: #fff 0.1em 0.1em 0.1em;
  font-weight: bold;
  font-size: 18px;
}
.modal-edit-container input {
  margin: 5px 0 5px 0;
  height: 2vh;
  width: 95%;
  border-radius: 8px;
  border: solid 1px #777777;
  padding: 10px;
  font-size: 15px;
  color: #777777;
  font-weight: 400;
}
.modal-edit-container .container-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.modal-edit-container textarea {
  margin: 5px 0 5px 0;
  height: 10vh;
  width: 95%;
  border-radius: 8px;
  border: solid 1px #777777;
  padding: 10px;
  font-size: 15px;
  color: #777777;
  font-weight: 400;
}

.edit-title {
  padding: 25px;
  font-size: 22px;
  text-shadow: #000 0.01em 0.1em 0.1em;
}

.header-modal {
  width: 100%;
  display: flex;
  color: #fff;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  height: 10vh;
  padding: 0;
  border-radius: 12px 12px 0 0;
  align-items: center;
  flex-direction: row;
  word-wrap: break-word;
}

.container-btn {
  margin-top: 20px;
  align-self: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.container-btn .save-btn {
  letter-spacing: 0.08rem;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  height: 4vh;
  width: 6vw;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  border: 3px solid #000;
}
.container-btn .save-btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.container-btn .save-btn:active {
  background: #20387b;
}
.container-btn .close-btn {
  letter-spacing: 0.08rem;
  background: #ffffff;
  border: 3px solid #000;
  height: 4vh;
  width: 6vw;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  color: #000;
}
.container-btn .close-btn:hover {
  cursor: pointer;
  filter: brightness(1.6);
}
.container-btn .close-btn:active {
  background: -webkit-linear-gradient(left, #ff0404, #e6122a);
  color: #fff;
}