.container-box {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 35vw;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 16px;
  margin: 2rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 0) {
  .container-box {
    height: 40vh;
    width: 80vw;
  }
}
@media (min-width: 480px) {
  .container-box {
    height: 40vh;
    width: 70vw;
  }
}
@media (min-width: 720px) {
  .container-box {
    height: 40vh;
    width: 60vw;
  }
}
@media (min-width: 960px) {
  .container-box {
    height: 40vh;
    width: 60vw;
  }
}
@media (min-width: 1200px) {
  .container-box {
    height: 40vh;
    width: 40vw;
  }
}

.container-box h1 {
  margin: 0.5rem;
  font-size: 1.8rem;
  text-shadow: 1px 1px #ddd;
}
@media (min-width: 0) {
  .container-box h1 {
    margin: 0.2rem;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .container-box h1 {
    margin: 0.2rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 720px) {
  .container-box h1 {
    margin: 0.2rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 960px) {
  .container-box h1 {
    margin: 0.2rem;
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .container-box h1 {
    margin: 0.2rem;
    font-size: 1.8rem;
  }
}

.label-box {
  margin: 0.2rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px #ddd;
  font-weight: bold;
}
@media (min-width: 0) {
  .label-box {
    margin: 0.2rem;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .label-box {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .label-box {
    margin: 0.2rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  .label-box {
    font-size: 1.3rem;
    margin: 0.2rem;
  }
}
@media (min-width: 1200px) {
  .label-box {
    font-size: 1.4rem;
    margin: 0.2rem;
  }
}

.button-box-post {
  height: 5vh;
  width: 9vw;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 700;
  align-self: flex-end;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  color: #fff;
  border: none;
  margin: 0.3rem;
  letter-spacing: 0.08rem;
}
.button-box-post:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
.button-box-post:active {
  background: -webkit-linear-gradient(left, #20387b, #4e35d8);
}
@media (min-width: 0) {
  .button-box-post {
    height: 5vh;
    width: 30vw;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .button-box-post {
    height: 5vh;
    width: 30vw;
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .button-box-post {
    height: 6vh;
    width: 20vw;
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .button-box-post {
    height: 6vh;
    width: 20vw;
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  .button-box-post {
    height: 7vh;
    width: 15vw;
    font-size: 1.2rem;
  }
}

.button-box-post-disable {
  letter-spacing: 0.08rem;
  height: 10vh;
  width: 9vw;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 700;
  align-self: flex-end;
  background-color: rgba(221, 221, 221, 0.8666666667);
  color: #fff;
  border: none;
  margin: 0.3rem;
}
.button-box-post-disable:hover {
  cursor: not-allowed;
}
@media (min-width: 0) {
  .button-box-post-disable {
    height: 5vh;
    width: 30vw;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .button-box-post-disable {
    height: 5vh;
    width: 30vw;
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .button-box-post-disable {
    height: 6vh;
    width: 20vw;
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .button-box-post-disable {
    height: 6vh;
    width: 20vw;
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  .button-box-post-disable {
    height: 7vh;
    width: 15vw;
    font-size: 1.2rem;
  }
}

.container-box input {
  outline: none;
  height: 4vh;
  border-radius: 8px;
  border: solid 1px #777777;
  margin: 0.3rem;
  padding: 0.7rem;
  font-size: 1.5rem;
  color: #777777;
  font-weight: 400;
}
@media (min-width: 0) {
  .container-box input {
    height: 4vh;
    margin: 0.3rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}
@media (min-width: 480px) {
  .container-box input {
    height: 4vh;
    margin: 0.3rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}
@media (min-width: 720px) {
  .container-box input {
    height: 4vh;
    margin: 0.3rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.container-box textarea {
  outline: none;
  height: 20vh;
  border-radius: 8px;
  border: solid 1px #777777;
  margin: 0.3rem;
  padding: 0.7rem;
  font-size: 1rem;
  color: #777777;
  font-weight: 400;
}

.background-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-edit-container {
  height: 40vh;
  width: 30vw;
  position: relative;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: -webkit-linear-gradient(left, #fff, #fff);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}
@media (min-width: 0) {
  .modal-edit-container {
    height: 35vh;
    width: 80vw;
  }
}
@media (min-width: 480px) {
  .modal-edit-container {
    height: 35vh;
    width: 70vw;
  }
}
@media (min-width: 720px) {
  .modal-edit-container {
    height: 38vh;
    width: 60vw;
  }
}
@media (min-width: 960px) {
  .modal-edit-container {
    height: 38vh;
    width: 60vw;
  }
}
@media (min-width: 1200px) {
  .modal-edit-container {
    height: 40vh;
    width: 40vw;
  }
}
.modal-edit-container .label-box {
  text-shadow: #fff 0.1em 0.1em 0.1em;
  font-weight: bold;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 0) {
  .modal-edit-container .label-box {
    margin: 0.2rem;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .modal-edit-container .label-box {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .modal-edit-container .label-box {
    margin: 0.2rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  .modal-edit-container .label-box {
    font-size: 1.3rem;
    margin: 0.2rem;
  }
}
@media (min-width: 1200px) {
  .modal-edit-container .label-box {
    font-size: 1.4rem;
    margin: 0.2rem;
  }
}
.modal-edit-container input {
  margin: 0.2rem;
  outline: none;
  height: 4vh;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #777777;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #777777;
  font-weight: 400;
}
@media (min-width: 0) {
  .modal-edit-container input {
    margin: 0.2rem;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .modal-edit-container input {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .modal-edit-container input {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .modal-edit-container input {
    font-size: 1.2rem;
    margin: 0.2rem;
  }
}
@media (min-width: 1200px) {
  .modal-edit-container input {
    font-size: 1.1rem;
    margin: 0.2rem;
  }
}
.modal-edit-container .container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}
.modal-edit-container textarea {
  outline: none;
  margin: 1rem;
  height: 10vh;
  width: 100%;
  border-radius: 8px;
  border: solid 1px #777777;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #777777;
  font-weight: 400;
}
@media (min-width: 0) {
  .modal-edit-container textarea {
    margin: 0.2rem;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .modal-edit-container textarea {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .modal-edit-container textarea {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .modal-edit-container textarea {
    font-size: 1.1rem;
    margin: 0.2rem;
  }
}
@media (min-width: 1200px) {
  .modal-edit-container textarea {
    font-size: 1.1rem;
    margin: 0.2rem;
  }
}

.edit-title {
  padding: 1.1rem;
  font-size: 1.2rem;
  word-wrap: break-word;
  text-shadow: #000 0.01em 0.1em 0.1em;
}
@media (min-width: 0) {
  .edit-title {
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .edit-title {
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .edit-title {
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  .edit-title {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .edit-title {
    font-size: 1.4rem;
  }
}

.header-modal {
  width: 100%;
  display: flex;
  color: #fff;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  border-radius: 12px 12px 0 0;
  align-items: center;
  flex-direction: row;
  word-wrap: break-word;
}

.container-btn {
  margin-top: 20px;
  align-self: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.container-btn .save-btn {
  letter-spacing: 0.08rem;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  height: 4vh;
  width: 6vw;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  border: 3px solid #000;
}
@media (min-width: 0) {
  .container-btn .save-btn {
    height: 3vh;
    width: 20vw;
    font-size: 0.8rem;
  }
}
@media (min-width: 480px) {
  .container-btn .save-btn {
    height: 3vh;
    width: 15vw;
    font-size: 0.9rem;
  }
}
@media (min-width: 720px) {
  .container-btn .save-btn {
    height: 3vh;
    width: 12vw;
    font-size: 0.9rem;
  }
}
@media (min-width: 960px) {
  .container-btn .save-btn {
    height: 3vh;
    width: 12vw;
  }
}
@media (min-width: 1200px) {
  .container-btn .save-btn {
    height: 3vh;
    width: 8vw;
  }
}
.container-btn .save-btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.container-btn .save-btn:active {
  background: #20387b;
}
.container-btn .close-btn {
  letter-spacing: 0.08rem;
  background: #ffffff;
  border: 3px solid #000;
  height: 4vh;
  width: 6vw;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  color: #000;
}
@media (min-width: 0) {
  .container-btn .close-btn {
    height: 3vh;
    width: 20vw;
    font-size: 0.8rem;
  }
}
@media (min-width: 480px) {
  .container-btn .close-btn {
    height: 3vh;
    width: 15vw;
    font-size: 0.9rem;
  }
}
@media (min-width: 720px) {
  .container-btn .close-btn {
    height: 3vh;
    width: 12vw;
    font-size: 0.9rem;
  }
}
@media (min-width: 960px) {
  .container-btn .close-btn {
    height: 3vh;
    width: 12vw;
  }
}
@media (min-width: 1200px) {
  .container-btn .close-btn {
    height: 3vh;
    width: 8vw;
  }
}
.container-btn .close-btn:hover {
  cursor: pointer;
  filter: brightness(1.6);
}
.container-btn .close-btn:active {
  background: -webkit-linear-gradient(left, #ff0404, #e6122a);
  color: #fff;
}