.container-teste {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 216, 216);
  text-align: center;
}