$background-box: #fff;
$background-header-post: #7695ec;
.container-post {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 45vw;
  background-color: $background-box;
  border: 1px solid #999999;
  border-radius: 16px;
  margin: 20px;
  font-size: 24px;
}

.header-post {
  display: flex;
  color: #fff;
  background-color: $background-header-post;
  height: 5vh;
  padding: 20px;
  border-radius: 16px 16px 0 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
  word-wrap: break-word;
  .icon {
    font-size: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}
.content-container {
  padding: 20px;
  text-align: justify;
  word-wrap: break-word;
}
.post-content {
  font-size: 14px;
}
.post-title {
  font-size: 24px;
  word-wrap: break-word;
}
.post-username {
  margin-bottom: 20px;
  color: #777777;
  font-size: 18px;
}
.buttons-post {
  display: flex;

  justify-content: space-between;
  width: 13%;
}
