.container-post {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 40vw;
  background-color: #fff;
  border-radius: 16px;
  margin: 2rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 0) {
  .container-post {
    height: 40vh;
    width: 80vw;
  }
}
@media (min-width: 480px) {
  .container-post {
    height: 40vh;
    width: 70vw;
  }
}
@media (min-width: 720px) {
  .container-post {
    height: 40vh;
    width: 60vw;
  }
}
@media (min-width: 960px) {
  .container-post {
    height: 40vh;
    width: 60vw;
  }
}
@media (min-width: 1200px) {
  .container-post {
    height: 40vh;
    width: 40vw;
  }
}

.header-post {
  display: flex;
  color: #fff;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  height: 5vh;
  padding: 1.1rem;
  border-radius: 16px 16px 0 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  word-wrap: break-word;
}

.icon-edit {
  font-size: 1.7rem;
}
.icon-edit:hover {
  cursor: pointer;
  color: #eaff00;
  filter: brightness(2.5);
}
.icon-edit:active {
  color: #eaff00;
}
@media (min-width: 0) {
  .icon-edit {
    font-size: 1.3rem;
  }
}
@media (min-width: 480px) {
  .icon-edit {
    font-size: 1.4rem;
  }
}
@media (min-width: 720px) {
  .icon-edit {
    font-size: 1.5rem;
  }
}
@media (min-width: 960px) {
  .icon-edit {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .icon-edit {
    font-size: 1.6rem;
  }
}

.icon-delete {
  font-size: 1.7rem;
  margin-right: 0.5rem;
}
.icon-delete:hover {
  cursor: pointer;
  color: #ff0000;
  filter: brightness(2.5);
}
.icon-delete:active {
  color: #ff0000;
}
@media (min-width: 0) {
  .icon-delete {
    font-size: 1.3rem;
  }
}
@media (min-width: 480px) {
  .icon-delete {
    font-size: 1.4rem;
  }
}
@media (min-width: 720px) {
  .icon-delete {
    font-size: 1.5rem;
  }
}
@media (min-width: 960px) {
  .icon-delete {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .icon-delete {
    font-size: 1.6rem;
  }
}

.content-container {
  padding: 1.1rem;
  text-align: justify;
  word-wrap: break-word;
  box-sizing: border-box;
}

.post-content {
  box-sizing: border-box;
  font-size: 1rem;
  word-wrap: break-word;
  text-align: justify;
  font-weight: 500;
  color: #777777;
  text-shadow: #fff 0.01em 0.1em 0.1em;
}
@media (min-width: 0) {
  .post-content {
    font-size: 0.85rem;
  }
}
@media (min-width: 480px) {
  .post-content {
    font-size: 0.95rem;
  }
}
@media (min-width: 720px) {
  .post-content {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  .post-content {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .post-content {
    font-size: 1.2rem;
  }
}

.post-title {
  font-size: 1.2rem;
  word-wrap: break-word;
  text-shadow: #000 0.01em 0.1em 0.1em;
}
@media (min-width: 0) {
  .post-title {
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .post-title {
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .post-title {
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  .post-title {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .post-title {
    font-size: 1.4rem;
  }
}

.post-username {
  margin-bottom: 0.5rem;
  color: #777777;
  font-size: 1.4rem;
  text-shadow: #fff 0.01em 0.1em 0.1em;
}
@media (min-width: 0) {
  .post-username {
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .post-username {
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .post-username {
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  .post-username {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .post-username {
    font-size: 1.4rem;
  }
}

.buttons-post {
  display: flex;
  justify-content: space-between;
  width: 12%;
}