@use '../breakpoints';
$background-color: -webkit-linear-gradient(left, #7695ec, #6b59d5);

.container{
    background: $background-color;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-codeleap{
        width: 30vw;
        height: 20vh;
        @include breakpoints.xs {
            width: 40vw;
            height: 15vh;
        }
        @include breakpoints.sm {
            width: 50vw;
            height: 15vh;
        }
        @include breakpoints.md {
            width: 50vw;
            height: 15vh;
        }
        @include breakpoints.lg {
            width: 25vw;
            height: 15vh;
        }
        @include breakpoints.xl {
            width: 25vw;
            height: 15vh;
        }
    
}

