.container {
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo-codeleap {
  width: 30vw;
  height: 20vh;
}
@media (min-width: 0) {
  .logo-codeleap {
    width: 40vw;
    height: 15vh;
  }
}
@media (min-width: 480px) {
  .logo-codeleap {
    width: 50vw;
    height: 15vh;
  }
}
@media (min-width: 720px) {
  .logo-codeleap {
    width: 50vw;
    height: 15vh;
  }
}
@media (min-width: 960px) {
  .logo-codeleap {
    width: 25vw;
    height: 15vh;
  }
}
@media (min-width: 1200px) {
  .logo-codeleap {
    width: 25vw;
    height: 15vh;
  }
}