$background-box: -webkit-linear-gradient(left, #6087f2);
.container-box {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 43vw;
  background: $background-box;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 16px;
  margin: 40px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2),
    1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.container-box h1 {
  margin: 5px;
  font-size: 22px;
  text-shadow: 1px 1px #ddd;
}

.label-box {
  margin: 5px;
  text-shadow: 1px 1px #ddd;
  font-weight: bold;
}

.button-box-post {
  height: 10vh;
  width: 9vw;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 700;
  align-self: flex-end;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  color: #fff;
  border: none;
  margin: 10px;
  letter-spacing: 0.08rem;
  &:hover {
    filter: brightness(1.1);
    cursor: pointer;
  }
  &:active {
    background: -webkit-linear-gradient(left, #20387b, #4e35d8);
  }
}

.button-box-post-disable {
  letter-spacing: 0.08rem;
  height: 10vh;
  width: 9vw;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 700;
  align-self: flex-end;
  background-color: #dddd;
  color: #fff;
  border: none;
  margin: 10px;

  &:hover {
    cursor: not-allowed;
  }
}

.container-box input {
  $border: #777777;
  height: 2vh;
  border-radius: 8px;
  border: solid 1px $border;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  color: $border;
  font-weight: 400;
}

.container-box textarea {
  $border: #777777;
  height: 20vh;
  border-radius: 8px;
  border: solid 1px $border;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  color: $border;
  font-weight: 400;
}
