$background-header:  #7695EC;


.container-header{
    background-color: $background-header;
    height: 6vh;
    width: 100vw;
    display: flex;
    color: #fff;
    flex-direction: row;
    text-align: left;
    align-items: center;
    padding: 20px;
  
}

.container-header h1{
    font-weight: 500;
    margin: 40px;
}
