.container-signup {
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 20vw;
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid #cccccc;
  border-radius: 16px;
  box-shadow: 5px 4px 20px 6px rgba(0, 0, 0, 0.4), 5px 6px 20px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
@media (min-width: 0) {
  .box {
    width: 90vw;
    height: 25vh;
  }
}
@media (min-width: 480px) {
  .box {
    width: 90vw;
    height: 25vh;
  }
}
@media (min-width: 720px) {
  .box {
    width: 80vw;
    height: 25vh;
  }
}
@media (min-width: 960px) {
  .box {
    width: 70vw;
    height: 25vh;
  }
}
@media (min-width: 1200px) {
  .box {
    width: 60vw;
    height: 25vh;
  }
}

.title {
  font-size: 2rem;
  margin: 25px;
  color: #fff;
  text-shadow: #000 0.1em 0.1em 0.2em;
  font-weight: bolder;
}
@media (min-width: 0) {
  .title {
    font-size: 1.5rem;
  }
}
@media (min-width: 480px) {
  .title {
    font-size: 1.6rem;
  }
}
@media (min-width: 720px) {
  .title {
    font-size: 1.7rem;
  }
}
@media (min-width: 960px) {
  .title {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 2rem;
  }
}

.label-form {
  text-shadow: 1px 1px #ddd;
  font-size: 1.6rem;
  font-weight: bold;
}
@media (min-width: 0) {
  .label-form {
    font-size: 1.3rem;
  }
}
@media (min-width: 480px) {
  .label-form {
    font-size: 1.4rem;
  }
}
@media (min-width: 720px) {
  .label-form {
    font-size: 1.4rem;
  }
}
@media (min-width: 960px) {
  .label-form {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .label-form {
    font-size: 1.6rem;
  }
}

.box input {
  height: 6vh;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}
@media (min-width: 0) {
  .box input {
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .box input {
    font-size: 1.1rem;
  }
}
@media (min-width: 720px) {
  .box input {
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  .box input {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .box input {
    font-size: 1.4rem;
  }
}

.button-signup {
  height: 7vh;
  width: 12vw;
  display: block;
  font-size: 1.5rem;
  border-radius: 8px;
  font-weight: 700;
  align-self: flex-end;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  color: #fff;
  border: none;
  margin-top: 1.4rem;
  box-sizing: border-box;
  letter-spacing: 0.08rem;
}
.button-signup:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
.button-signup:active {
  background: -webkit-linear-gradient(left, #20387b, #4e35d8);
}
@media (min-width: 0) {
  .button-signup {
    height: 6vh;
    width: 30vw;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .button-signup {
    height: 6vh;
    width: 25vw;
    font-size: 1rem;
  }
}
@media (min-width: 720px) {
  .button-signup {
    height: 6vh;
    width: 20vw;
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .button-signup {
    height: 6vh;
    width: 15vw;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .button-signup {
    font-size: 1.2rem;
    height: 6vh;
    width: 12vw;
  }
}

.button-signup-disable {
  height: 10vh;
  display: block;
  width: 9vw;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 700;
  align-self: flex-end;
  background: -webkit-linear-gradient(left, #ddd, #aaa5cb);
  color: #fff;
  border: none;
  margin-top: 20px;
  letter-spacing: 0.08rem;
}
.button-signup-disable:hover {
  cursor: not-allowed;
}
@media (min-width: 0) {
  .button-signup-disable {
    height: 6vh;
    width: 30vw;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .button-signup-disable {
    height: 6vh;
    width: 25vw;
    font-size: 1rem;
  }
}
@media (min-width: 720px) {
  .button-signup-disable {
    height: 6vh;
    width: 20vw;
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .button-signup-disable {
    height: 6vh;
    width: 15vw;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .button-signup-disable {
    font-size: 1.2rem;
    height: 6vh;
    width: 12vw;
  }
}