.container-signup {
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 45vw;
  background-color: #fff;
  padding: 35px;
  border: 1px solid #cccccc;
  border-radius: 16px;
  box-shadow: 5px 4px 20px 6px rgba(0, 0, 0, 0.4), 5px 6px 20px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.title {
  font-size: 35px;
  margin: 25px;
  color: #fff;
  text-shadow: #000 0.1em 0.1em 0.2em;
  font-weight: bolder;
}

.label-form {
  text-shadow: 1px 1px #ddd;
  font-size: 20px;
  font-weight: bold;
}

.box input {
  height: 4vh;
  border-radius: 8px;
  border: 1.5px solid #777777;
  margin-top: 15px;
  padding: 10px;
  font-size: 15px;
  color: #777777;
}

.button-signup {
  height: 10vh;
  display: block;
  width: 9vw;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 700;
  align-self: flex-end;
  background: -webkit-linear-gradient(left, #7695ec, #6b59d5);
  color: #fff;
  border: none;
  margin-top: 20px;
  box-sizing: border-box;
  letter-spacing: 0.08rem;
}
.button-signup:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
.button-signup:active {
  background: -webkit-linear-gradient(left, #20387b, #4e35d8);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button-signup-disable {
  height: 10vh;
  display: block;
  width: 9vw;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 700;
  align-self: flex-end;
  background: -webkit-linear-gradient(left, #ddd, #aaa5cb);
  color: #fff;
  border: none;
  margin-top: 20px;
  letter-spacing: 0.08rem;
}
.button-signup-disable:hover {
  cursor: not-allowed;
}